body {
	font-family: "Comfortaa", cursive;
	font-size: 36px;
	color: #ffffff;
	background-color: #333;
}
img {
	width: 800px;
	border-radius: 25px;
	display: flex;
	margin: auto;
}
p {
	color: lime;
}
.tomato {
	color: tomato;
	text-decoration: underline;
}
